<head>
    <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link rel="stylesheet" href="/styles.css">
</head>
<header>
    <div class="menu">
        <a href="#" class="link">
            <span class="material-icons">
                home
                </span>
            <span class="link-title">Home</span>
        </a>
        <a href="#About">
            <span class="material-icons">person</span>
            <span class="link-title">About</span>
        </a>
        <a href="#Experience">
            <span class="material-icons">lightbulb</span>
            <span class="link-title">Experience</span>
        </a>
        <a href="#Projects">
            <span class="material-icons">eco</span>
            <span class="link-title">Projects</span>
        </a>
        <a href="#Contact">
        <span class="material-icons">send</span>
            <span class="link-title">Contact Me</span>
        </a>
    </div>
</header>